.search-input {
  width: 60%;
  height: 20px;
  background: var(--color-bg-search);
  margin: 10px 0;
  padding: 5px 15px;
  caret-color: white;
  color: white;
  font-size: 16px;
  border: 1px solid var(--color-btn-primary);
}

.search-btn {
  background-color: var(--color-btn-primary);
  width: 50px;
  display: inline-block;
  vertical-align: middle;
  padding: 1px;
  margin-top: -1px;
  cursor: pointer;
}

.logo {
  background-image: url("/youtube/logo.png");
  width: 100px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 800px) {
  .hide-on-md {
    display: none !important;
  }
  .show-on-md {
    display: inline-block !important;
  }
  .search-input{
    width: 65% !important;
  }
}
@media (min-width: 800px) {
  .show-on-md {
    display: none !important;
  }
}

.search-box{
  flex: 5px;
  text-align: center;
}